body {
    background-color: rgb(49, 51, 53);
}

.screen {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clock-block {
    position: relative;
    width: 500px;
    height: 500px;
}

canvas {
    background-color: rgb(49, 51, 53);
}

.time-block {
    position: relative;
    width: 50%;
    height: 100px;
    /* bottom: 10%;
    left: 25%; */


    text-align: center;
    color: white;
    letter-spacing: 4px;
    font-size: 100px;
    font-weight: bold;
}
